* {
  color: #e9f4f7;
  --font-sans:
    "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  /* border: 2px solid white; */
  /* overflow-x:hidden; */
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0b0e22;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
